[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
sympy = "*"
ipython = "*"
jupyter = "*"
scikit-learn = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.6"
